<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<h1>Something went wrong!</h1>
	<h2>Our Engineers are on it</h2>
	<p>Exception(s) have been logged.</p>
	<p>Please refer to the documentation via Github</p>
	<a href="https://github.com/tweshc/InRhythmMerchandise-v2/blob/master/README.md">Take me to the Github readme</a>
</div>

</body>
</html>