<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	table{
		margin: 30px auto !important;
		width:75% !important;	
	}
</style>
</head>

<body>
	<div class="container">
		<h3>Cart Info</h3>
	</div>
	
	<form method="post" th:action="${'/cart/update'}">
		<table class="table table-hover">
			<tr>
				<th>Remove</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Electronic Item</th>
				<th>Price</th>
				<th>
					Quantity
					<input type="submit" value="Update"/>
				</th>
				<th>Total</th>
			</tr>
			<tr th:each="checkoutItem : ${session.cart}">
				<td align="center">
					<a th:href="${'cart/remove/' + checkoutItem.product.id}">X</a>
				</td>
				<td th:text="${checkoutItem.product.id}"></td>
				<td th:text="${checkoutItem.product.name}"></td>
				<td th:text="${checkoutItem.product.isElectronic}"></td>
				<td th:text="${checkoutItem.product.price}"></td>
				<td>
					<input style="width:50px" type="number" th:value="${checkoutItem.quantity}" name="quantity"/>
				</td>
				<td th:text="${checkoutItem.product.price * checkoutItem.quantity}"></td>
			</tr>
			<tr>
				<td colspan="6">Total</td>
				<td th:text="${total}"></td>
			</tr>
		</table>
	</form>
	<hr/>
	<div class="container">
		<a th:href="${'/product/index'}">Continue Shopping</a> <br/>
	</div>
</body>


</html>